crawler-core/src/test/resources/crawler-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config" type="configType" />
	<xs:complexType name="configType">
		<xs:all maxOccurs="1" minOccurs="1">
			<xs:element type="protocol-type-listType" name="protocol-type-list" maxOccurs="1"
				minOccurs="1" />
			<xs:element type="url-filtersType" name="url-filters" maxOccurs="1" minOccurs="1" />
			<xs:element type="propertiesType" name="properties" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>unicode bug check</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="loginType" name="login" maxOccurs="1" minOccurs="1" />
			<xs:element type="service-definitionType" name="service-definition" maxOccurs="1"
				minOccurs="1" />
			<xs:element type="parser-definitionType" name="parser-definition" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>just like ajax
						request url-template
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="page-definitionType" name="page-definition" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>server type get context from
						http://open.51zhangdan.com/contexts/${websiteName}/${appEmailKey}/${subAppEmailKey}
						then put
						back
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="searchType" name="search" maxOccurs="1" minOccurs="1" />
			<xs:element type="plugin-definitionType" name="plugin-definition" maxOccurs="1"
				minOccurs="1" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="protocol-type-listType">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element name="protocol-type" maxOccurs="3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="POP" />
						<xs:enumeration value="IMAP" />
						<xs:enumeration value="HTTP" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="url-filtersType">
		<xs:sequence>
			<xs:element type="url-filterType" name="url-filter" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="url-filterType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" default="+" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="+">
								<xs:annotation>
									<xs:documentation>白名单</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="-">
								<xs:annotation>
									<xs:documentation>黑名单</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="propertiesType">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element type="xs:short" name="wait-interval" maxOccurs="1" minOccurs="1" />
			<xs:element type="xs:string" name="task-region" maxOccurs="1" minOccurs="1" />
			<xs:element type="xs:string" name="default-header" maxOccurs="1" minOccurs="1" />
			<xs:element type="cookieType" name="cookie" maxOccurs="1" minOccurs="1" />
			<xs:element type="proxyType" name="proxy" maxOccurs="1" minOccurs="1" />
			<xs:element type="xs:string" name="encoding" maxOccurs="1" minOccurs="1" />
			<xs:element type="xs:string" name="unicode-mode" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cookieType">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="scope">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="request">
								<xs:annotation>
									<xs:documentation>请求时重建上下文</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="session">
								<xs:annotation>
									<xs:documentation>请求时共用上下文</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="fail-pattern" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="proxyType">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="scope">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="request">
								<xs:annotation>
									<xs:documentation>请求时重新获取代理ip</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="session">
								<xs:annotation>
									<xs:documentation>请求时共用同一代理ip</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="loginType">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element type="xs:string" name="headers" />
			<xs:element type="xs:byte" name="check-interval" />
			<xs:element type="xs:anyURI" name="url-template" />
			<xs:element type="xs:string" name="success-pattern" />
			<xs:element type="xs:string" name="fail-pattern" />
			<xs:element type="xs:anyURI" name="check-url" />
		</xs:sequence>
		<xs:attribute name="login-type" default="client" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="client">
						<xs:annotation>
							<xs:documentation>客户端登录</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="server">
						<xs:annotation>
							<xs:documentation>服务端登录</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="app">
						<xs:annotation>
							<xs:documentation>application登录</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="plugin-ref" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="service-definitionType">
		<xs:sequence>
			<xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceType" mixed="true">
		<xs:attribute name="id" use="required" type="xs:string" />
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="plugin" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="plugin-ref" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="parser-definitionType">
		<xs:sequence>
			<xs:element type="parserType" name="parser" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parserType">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element type="parser_patternsType" name="patterns" />
			<xs:element type="xs:anyURI" name="url-template" />
			<xs:element type="xs:anyURI" name="link-url-template" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="headers" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:byte" name="sleep-second" maxOccurs="1" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="parser_patternsType">
		<xs:sequence>
			<xs:element type="parser_patternType" name="pattern" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parser_patternType">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element type="xs:string" name="regex" />
			<xs:element type="parser_mappingsType" name="mappings" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parser_mappingsType">
		<xs:sequence>
			<xs:element name="map" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:attribute name="group-index" use="required" type="xs:byte" />
					<xs:attribute name="placeholder" use="required" type="xs:string" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="page-definitionType">
		<xs:sequence>
			<xs:element type="pageType" name="page" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pageType">
		<xs:sequence>
			<xs:element name="replaces" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>plugn 输出 List&lt;Map> recheck</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="replace" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType mixed="true">
								<xs:attribute name="from" use="required" type="xs:string" />
								<xs:attribute name="to" use="required" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="regex" minOccurs="0" />
			<xs:element type="object-segmentType" name="object-segment" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="required" />
		<xs:attribute type="xs:string" name="path" use="required" />
		<xs:attribute type="xs:boolean" name="url-extract" use="optional" />
		<xs:attribute type="xs:string" name="service-ref" use="optional" />
		<xs:attribute type="xs:string" name="page-num-regex" use="optional" />
		<xs:attribute type="xs:string" name="content-regex" use="optional" />
		<xs:attribute type="xs:string" name="page-title-regex" use="optional" />
	</xs:complexType>
	<xs:complexType name="object-segmentType">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element type="field-extractorType" name="field-extractor" />
			<xs:element type="object-segmentType" name="object-segment" />
		</xs:choice>
		<xs:attribute type="xs:string" name="name" use="required" />
		<xs:attribute name="type" use="optional" default="base">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="xpath" />
					<xs:enumeration value="regex" />
					<xs:enumeration value="split" />
					<xs:enumeration value="base" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute type="xs:string" name="value" use="optional" />
	    <xs:attribute type="xs:boolean" name="not-empty" use="optional" />
		<xs:attribute type="xs:boolean" name="pop-return" use="optional">
			<xs:annotation>
				<xs:documentation>if true,return object else return list</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute type="xs:string" name="result-class" use="optional">
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="field-extractorType">
		<xs:sequence>
			<xs:element type="operationType" name="operation" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="required" />
		<xs:attribute type="xs:string" name="field" use="required" />
		<xs:attribute type="xs:string" name="source" use="optional" />
		<xs:attribute type="xs:string" name="encoding" use="optional" />
	    <xs:attribute type="xs:boolean" name="not-empty" use="optional" />
		<xs:attribute name="result-type" use="optional" default="string">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="string" />
					<xs:enumeration value="number" />
					<xs:enumeration value="date" />
					<xs:enumeration value="payment" />
					<xs:enumeration value="file" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute type="xs:string" name="format" use="optional" />
		<xs:attribute type="xs:string" name="plugin-ref" use="optional" />
	</xs:complexType>
	<xs:complexType name="operationType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="replace" />
							<xs:enumeration value="codec" />
							<xs:enumeration value="extract" />
							<xs:enumeration value="parser" />
							<xs:enumeration value="regex" />
							<xs:enumeration value="return" />
							<xs:enumeration value="set" />
							<xs:enumeration value="template" />
							<xs:enumeration value="trim" />
							<xs:enumeration value="xpath" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:byte" name="index" use="optional" />
				<xs:attribute name="codec-type" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="md5" />
							<xs:enumeration value="base64" />
							<xs:enumeration value="uri" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="handling-type" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="encode" />
							<xs:enumeration value="decode" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="ref" use="optional" />
				<xs:attribute type="xs:string" name="from" use="optional" />
				<xs:attribute type="xs:string" name="to" use="optional" />
				<xs:attribute type="xs:boolean" name="json-to-xml" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="searchType">
		<xs:sequence maxOccurs="unbounded" minOccurs="0">
			<xs:element type="search-templateType" name="search-template" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="search-templateType">
		<xs:sequence>
			<xs:element type="requestType" name="request" />
			<xs:element type="page-sequenceType" name="page-sequence" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" />
		<xs:attribute name="type" default="keyword_search">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="keyword_search" />
					<xs:enumeration value="deep" />
					<xs:enumeration value="category_search" />
					<xs:enumeration value="poster_search" />
					<xs:enumeration value="related_search" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute type="xs:string" name="plugin-ref" />
		<xs:attribute type="xs:int" name="max-depth" />
	</xs:complexType>
	<xs:complexType name="requestType">
		<xs:sequence>
			<xs:element name="url-templates">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:anyURI" name="url-template" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:anyURI" name="ref-template" />
			<xs:element type="xs:short" name="max-page" />
			<xs:element type="xs:string" name="no-search-results-pattern" />
			<xs:element type="xs:string" name="block-pattern" />
			<xs:element type="xs:string" name="last-page-pattern" />
			<xs:element type="xs:string" name="re-visit-pattern" />
			<xs:element type="xs:byte" name="max-retry-count" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="page-sequenceType">
		<xs:sequence>
			<xs:element name="page" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:attribute type="xs:byte" name="depth" use="required" />
					<xs:attribute type="xs:string" name="ref" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="plugin-definitionType">
		<xs:sequence>
			<xs:element type="pluginType" name="plugin" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pluginType" mixed="true">
		<xs:all>
			<xs:element type="xs:string" name="main-class" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="extra-config" maxOccurs="1" minOccurs="0" />
		</xs:all>
			<xs:attribute name="file-type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="jar" />
						<xs:enumeration value="sh" />
						<xs:enumeration value="py" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="phase">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="segment" />
						<xs:enumeration value="login" />
						<xs:enumeration value="search" />
						<xs:enumeration value="page" />
						<xs:enumeration value="field" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute type="xs:string" name="id" />
		</xs:complexType>
</xs:schema>